@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Open+Sans:wght@400;700&family=Roboto:wght@900&display=swap');


/* Main About Me CSS */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    /* Fallback color in case image does not load */
    background-color: rgba(194, 194, 194, 0.63); 
    background-image:url('back.svg') ; 
    /*background-size:cover;*/
	background-repeat: no-repeat;
    background-position: center 70%;
    
}
span {
    letter-spacing: 5px;
    padding: 5px; 
    margin-bottom:-20px;
}
form {
    display:inline;
}
#content {
    display:flex;
    flex-direction:row;
    padding-top:5%;
    vertical-align: text-top;
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;     
    margin-top:20px;
}
#profilebox {
    background: #ffffff;
    border-radius: 45px;
    text-align:center;
    padding: 50px;
    padding-bottom:20px;
    display:flex;
    flex:50%;
    flex-direction: column;
    max-width: 300px;
    border: 3px solid #333333;
    margin-bottom:50px;
    margin-right:50px;
    vertical-align: middle;


}
#infoboxwrap  {
    display:flex;
    flex:50%;
    flex-direction: column;
    max-width: 1100px;

}
#infobox {
    background: #ffffff;
    border-radius: 0px 25px 25px;
    text-align:center;
    padding: 50px;
    padding-top:30px;
    padding-bottom:63px;
    display:flex;
    flex:50%;
    flex-direction: column;
    max-width: 900px;
    border: 3px solid #333333;
    max-height:73.5%;
}
.picture {
    border-radius: 100%;
    text-align: right;
    margin:auto;
    max-width: 250px;
    border: 3px solid #333333;
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h1.big {
    font-size: 3em;
}
p {
    font-size: xx-large;
    font-family: 'Dongle', sans-serif;
    line-height:30px;
}
.buttons {
    position:relative; 
    top:3px;
    text-align: left;
    min-width:100%;
}
.tab-button {
    background: #ffffff;
    outline:none;
    border:0;
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-radius: 50px 25px 0% 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:x-large;
    z-index: 1;
    width: 20%;
    min-width:20%;
}
.tab-button:hover {
    background : linear-gradient( to top,  #ffffff , #b1b1b1 300%);
}
.tab-button:focus {
    background : linear-gradient( to top,  #ffffff , #303030 300%);
}
.text {
    text-align: left;
}

#displaytext {
    /*display:block;*/
    position: relative;
    /*width: 52%;*/
}
#intro {
    position:absolute;
    z-index: 0;
}
#about:not(:target),#projects:not(:target),#contact:not(:target) {
    /*display:none;*/
    position: absolute;
    background-color: #ffffff00;
    z-index:-1;
}
#about:target,#projects:target,#contact:target {
    /*display:block;*/
    position:absolute;
    background-color: #ffffff;
    z-index:1;
}
@media only screen and (max-width: 1550px) {
    #infobox {
        min-height: 700px;
    }
}
@media only screen and (max-width: 1300px) {               
    .buttons {
        min-width:130%;
    }
    #infobox {
        min-height: 1000px;
    }
}
@media only screen and (max-width: 1100px) {
    body {
        background-position: center 100%;
    }
    #content {
        display:flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-top:-30px;
    }
    #profilebox {
        max-width: 1000px;
        margin-right:0px;

    }
    #infobox {
        max-width: 1000px;
        min-height: 700px;
    }
    .tab-button {
        width:20%;
        min-width:20%;
    }
    .buttons {
        min-width:150%;
    }
}
@media only screen and (max-width: 700px) {
    #infobox {
        min-height: 1000px;
    }
}


/* Resume Page CSS */
.resume {
    margin:5%;
    background-color: #ffffff;
    background-image: none;
}
h2,h3 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    line-height:7px;
}
h3 {
    font-size:0.92em;
    line-height:0px;
}
.subtext {
    font-size: 1.2em;
}
.resume > p {
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
    line-height:20px;
}
li {
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
    line-height:20px;
}
.title {
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
}
.largetitle {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:gray;
    line-height:30px;
}
.smallbreak {
    display:block;
    margin-bottom:0.8em;
}
.break {
    display:block;
    margin-bottom:1.7em;
}
.smallhr {
    line-height:1em;
}
.right {
    float:right;
}
.font,.tabbed {
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
}
.tabbed {
    text-indent: 45px;
}
.centered {
    text-align:center;
}



/* Fonts */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?js87eq');
    src:  url('fonts/icomoon.eot?js87eq#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?js87eq') format('truetype'),
      url('fonts/icomoon.woff?js87eq') format('woff'),
      url('fonts/icomoon.svg?js87eq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: xx-large;
    text-decoration: none;  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-itch-dot-io:before {
    content: "\e900";
    font-size: 40px;
  }
  .icon-github:before {
    content: "\eab0";
    font-size: 37px;

  }
  .icon-linkedin-square:before {
    content: "\e901";
    font-size: 40px;

  }
  